#all.play {
 text-align: right;
 margin: 0px auto;
 position: relative;
 z-index: 1;
 height:1200px;
 background: url(https://cdn.discordapp.com/attachments/878120085267546152/884374642817663006/Untitled.png);
}
* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
